body{
    font-family: "Inria Serif";
    width: 100%;
    height: 100%;
    background: #F2EEEE;
    position: relative;
}

#marchio{
    margin-top: 60px;
    margin-left: 20px;
}

.Testo { 
    color: #1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.176px;
    max-width: 890px;
    padding-top: 10px;
    margin-left: 10.9%;
}

ul.a {
list-style-type: disc;
list-style-position: inside;
margin: 0;
padding: 0;
}

ul.b {
list-style-type: none;
list-style-position: inside;
margin: 0;
padding: 0;
}

ol.c {
list-style-type: decimal;
list-style-position: inside;
margin: 0;
padding: 0;
}

.h1 {
    color: #1E1E1E;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.176px;
}

header h1#nome{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word;
    margin-left: 107px;
    margin-top: -50px;
}

header p#motto{
    color: #FFFFFF;
    margin-left: 107px;
    margin-top: -8px;
    font-size: 9px;
}

span#verde{
    width: 100%;
    height: 8px;
    left: 0%;
    top: 0%;
    right: 0%;
    position: absolute;
    background: #009246;
}

span#bianco{
    max-width: 500px;
    width: 100%;
    height: 8px;
    left: 35%;
    top: 0%;
    right: 0%;
    position: absolute;
    background: #FFFFFF;
}

span#rosso{
    max-width: 500px;
    width: 100%;
    height: 8px;
    left: 67%;
    top: 0px;
    position: absolute;
    background: #CE2B37
}

section#hero{
    width: 100%;
    height: 100%;
    max-height: 720px;
    max-width: 100%;
    position: relative;
}

section#hero img{
    width: 100%;
    max-height: 100%;
    position: absolute;
}

section#hero h1{
    position: absolute;
    max-width: 350px;
    line-height: 54px;
    font-size: 36px;
    top: 78%;
    left: 10%;
    right: 66%;
}

div.back img{
    margin-left: 10.9%;
    margin-top: 5%;
    margin-bottom: 0%;
}

div.back p{
    color: #1E1E1E;
    text-decoration: underline;
    margin-left: 12%;
    margin-top: -1.2%;
}

section#main_home{
    width: 100%;
    height: 100%;
    position: relative;
}

section#main_home h1{
    font-size: 20px;
    margin-left: 11%;
    margin-top: 50px;
}

section#main_home p{
    font-size: 16px;
    margin-left: 11%;
    max-width: 900px;
}

section#main_home div#localnav_home{
    position: relative;
    top: 10%;
    bottom: -10%;
}

section#main_home div#localnav_home div#addestramento{
    max-width: 430px;
    max-height: 430px;
    top: 0%;
    position: absolute;
    right: 60%;
    left: 10.9%;
}

section#main_home div#localnav_home div img{
    width: 100%;
    height: 100%;
}

section#main_home div#localnav_home div#struttura{
    max-width: 430px;
    max-height: 430px;
    top: 0%;
    position: absolute;
    left: 44%;
    right: 26.8%;
}

section#main_home div#localnav_home div#storia{
    max-width: 430px;
    max-height: 430px;
    top: 450px;
    position: absolute;
    right: 60%;
    left: 10.9%;
}

section#main_home div#localnav_home div#viaggi{
    max-width: 430px;
    max-height: 430px;
    top: 450px;
    position: absolute;
    left: 44%;
    right: 26.8%;
}

div#localnav_home span{
    width: 100%;
    height: 20%;
    left: 0%;
    right: 0%;
    top: 80%;
    bottom: 0%;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
}

section#main_home span p{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    font-size: 150%;
    text-decoration: underline;
    top: 35%;
    right: 0%;
}

section#strutturahome p{
    margin-left: 160px;
    max-width: 900px;
}

section#strutturahome div#localnav_struttura{
    width: 100%;
    height: 100%;
    position: relative;
    top: 70px;
}

section#strutturahome div#localnav_struttura div#navigazione{
    max-width: 430px;
    max-height: 430px;
    top: 0px;
    position: absolute;
    left: 160px;
}

section#strutturahome div#localnav_struttura div#scafo{
    width: 430px;
    height: 430px;
    top: 0px;
    position: absolute;
    left: 620px;
}

section#strutturahome div#localnav_struttura div#imbarcazioni{
    width: 430px;
    height: 430px;
    top: 450px;
    position: absolute;
    left: 160px;
}

section#strutturahome div#localnav_struttura div#equipaggio{
    width: 430px;
    height: 430px;
    top: 450px;
    position: absolute;
    left: 620px;
}

section#strutturahome div#localnav_struttura div#timoni{
    width: 430px;
    height: 430px;
    top: 900px;
    position: absolute;
    left: 160px;
}

section#strutturahome div#localnav_struttura div#comandanti{
    width: 430px;
    height: 430px;
    top: 900px;
    position: absolute;
    left: 620px;
}

section#strutturahome div#localnav_struttura div#tecnologia{
    width: 430px;
    height: 430px;
    top: 1350px;
    position: absolute;
    left: 160px;
}

section#strutturahome div#localnav_struttura div#cucina{
    width: 430px;
    height: 430px;
    top: 1350px;
    position: absolute;
    left: 620px;
}

div#navigazione span, div#scafo span, div#imbarcazioni span, div#equipaggio span, div#timoni span, div#comandanti span, div#tecnologia span, div#cucina span {
    width: 430px;
    height: 120px;
    left: 0px;
    top: 280px;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
}

section#strutturahome span h2{
    width: 430px;
    height: 130px;
    left: 0px;
    top: 35px;
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    font-family: "Inria Serif";
    font-size: 32px;
    font-weight: 500;
    text-decoration: underline;
    line-height: 150%;
    word-wrap: break-word;
    color: #FFF;
}


a.Consulta{
    color:#1E1E1E;
}

a.HomeStruttura{
    color:#1E1E1E;
    font-size: 14px;
}

section#hero span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1E1E1E;
    height: 2px;
    width: 429px;
    top: 650px;
    left: 150px;
}

.Immagini { 
    padding-left: 10.9%;
    padding-top: 3%;
    padding-bottom: 3%;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    width: 100vw;
    height: 140px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    background-color: #1E1E1E;
}

header .inner{
    width: 1200px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo{
    display: table;
    height: 100%;
    float: left;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 78px;
    margin-top: 5px;
}

header nav{
    float: right;
    height: 100%;
    margin-top: -75px;
    margin-right: 10%;
    position: relative;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 50px;
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav li span.noncorrente a{
    color: #FFFFFF;
}

header li span.corrente a{
    background-color: #F2EEEE;
    color: #1E1E1E;
}

header li span a:hover{
    text-decoration: underline;
}

.sidebar {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 175px;
    left: 1095px;
    background: #F2EEEE;
    overflow-x: hidden;
    padding: 8px 0;
    list-style-type: none;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #1E1E1E;
    display: block;
    list-style-type: none;
  }
  
  .sidebar a:hover {
    color: #FFFFFF;
    background-color: #1E1E1E;
  }

  .sidebar li span.sidecorrente a{
    background-color: #1E1E1E;
    color: #FFFFFF;
  }

  .sidebar nav li span.sidenoncorrente a{
    color: #F2EEEE;
  }

@media only screen and (min-width: 0px) {
    #cs-footer-269 {
        padding-top: 40px;
        padding-bottom: 30px;
        background-color: #1E1E1E;
        position: relative;
      
    }
    #cs-footer-269 .cs-container {
        width: 100%;
        max-width: 1195px;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: clamp(68px, calc(10%), 100px);
    }
    #cs-footer-269 .cs-credits {
        margin: 0;
        padding: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        color: #FFFFFF;
    }
 
    #cs-footer-269 .cs-text {
        font-size: clamp(16px, 2.5vw, 16px);
        line-height: 24px;
        margin: 0;
        margin-bottom: 32px;
        max-width: 525px;
        color: #FFFFFF;

    }
    #cs-footer-269 .cs-nav {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
  
    #cs-footer-269 .cs-header {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 14px;
        color:#FFFFFF;
        position: relative;
        display: block;
    }

    #cs-footer-269 .cs-contact {
        margin: 0;
        padding: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        color: #FFFFFF;
        list-style-type: none;
    }

    #cs-footer-269 .cs-nav-link {
        font-size: 16px;
        text-decoration: none;
        line-height: 24px;
        text-align: left;
        color: #FFFFFF;
        display: inline-block;
    }
    #cs-footer-269 .cs-nav-link:hover {
        text-decoration: underline;
    }

    #cs-footer-269 .cs-contact-link {
        font-size: 16px;
        text-decoration: none;
        line-height: 24px;
        text-align: left;
        color: #FFFFFF;
        display: inline-block;
    }
    #cs-footer-269 .cs-contact-link:hover {
        text-decoration: underline;
    }
    #cs-footer-269 .cs-address {
        font-size: 16px;
        margin-bottom: 20px;
    }
}

@media (max-width: 720px){
    header nav{
        display: none;
    }
}
