body{
    font-family: "Inria Serif";
    width: 100%;
    height: 100%;
    background: #F2EEEE;
    position: relative;
}

header{
    width: 100%;
    height: 100%;
    background: #1E1E1E;
}

#marchio{
    margin-top: 60px;
    margin-left: 20px;
}

.Testo { 
color: #1E1E1E;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.176px;
width: 890px;
padding-left: 160px;
padding-top: 50px;
}

.h1 {
    color: #1E1E1E;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.176px;
}

h1#nome{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word;
    margin-left: 107px;
    margin-top: -50px;
}

p#motto{
    color: #FFFFFF;
    margin-left: 107px;
    margin-top: -8px;
    font-size: 9px;
}

span#verde{
    width: 500px;
    height: 8px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #009246;
}

span#bianco{
    width: 500px;
    height: 8px;
    left: 500px;
    top: 0px;
    position: absolute;
    background: #FFFFFF;
}

span#rosso{
    width: 490px;
    height: 8px;
    left: 1000px;
    top: 0px;
    position: absolute;
    background: #CE2B37
}

.Immagini { 
padding-left: 160px;
padding-top: 50px;
}  

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100vw;
    height: 140px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    background-color: #1E1E1E;
}

header .inner{
    width: 1200px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo{
    display: table;
    height: 100%;
    float: left;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 78px;
    margin-top: 5px;
}

header nav{
    float: right;
    height: 100%;
    margin-top: -75px;
    margin-right: 150px;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a{
    color: #FFF;
}
