body{
    font-family: "Inria Serif";
    width: 100%;
    height: 100%;
    background: #F2EEEE;
    position: absolute;
}

#marchio{
    margin-top: 60px;
    margin-left: 20px;
}

#menuToggle{
    display: none;
}

.Testo, .Testo_comandanti { 
    color: #1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.176px;
    max-width: 550px;
    padding-top: 20px;
    margin-left: 10.9%;
}

.Testo_comandanti { 
    color: #1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.176px;
    max-width: 800px;
    padding-top: 20px;
    margin-left: 10.9%;
}

.Testo_home { 
    color: #1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    max-width: 550px;
    margin-left: 10.9%;
}

.Testo_home p, .Testo_home h2{
    margin-bottom: 20px;
}

.Testo_home h2{
    margin-top: 50px;
}

.noi{
    margin-bottom: 5%;
}

.social{
    width: 100%;
    margin-top: 0.5%;
    margin-bottom: 2%;
}

.social img{
    width: 30px;
    height: 30px;
}

.social img#gmail{
    width: 50px;
    height: 30px;
}

.columnbig {
    width: 40%;
    padding: 0px;
    display: inline-block;
}

.columnsmall {
    width: 15%;
    padding: 0px;
    display: inline-block;
}

ul.a {
list-style-type: disc;
list-style-position: inside;
margin: 0;
padding: 0;
}

ul.b {
list-style-type: none;
list-style-position: inside;
margin: 0;
padding: 0;
}

ol.c {
list-style-type: decimal;
list-style-position: inside;
margin: 0;
padding: 0;
}

.h1 {
    color: #1E1E1E;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.176px;
}

header p#nome{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word;
    margin-left: 107px;
    margin-top: -50px;
}

header p#motto{
    color: #FFFFFF;
    margin-left: 107px;
    margin-top: -8px;
    font-size: 9px;
}

span#verde{
    width: 100%;
    height: 8px;
    left: 0%;
    top: 0%;
    right: 0%;
    position: absolute;
    background: #009246;
}

span#bianco{
    width: 60%;
    height: 8px;
    left: 35%;
    top: 0%;
    right: 0%;
    position: absolute;
    background: #FFFFFF;
}

span#rosso{
    width: 33%;
    height: 8px;
    left: 67%;
    top: 0px;
    position: absolute;
    background: #CE2B37
}

section#hero{
    width: 100%;
    height: 600px;
    max-height: 720px;
    position: relative;
    margin-bottom: 50px;
}

section#hero img{
    width: 100%;
    max-height: 100%;
    position: absolute;
}

section#main_home{
    width: 100%;
    height: 1000px;
    position: relative;
}

section#main_struttura{
    width: 100%;
    height: 1900px;
    position: relative;
}

section#main_home p, section#main_struttura p{
    font-size: 16px;
    margin-left: 11%;
    max-width: 900px;
}

section#main_home div#localnav, section#main_struttura div#localnav{
    margin-left: 10.9%;
    margin-top: 5%;
    margin-right: -10.9%;
}

section#main_home div#localnav div, section#main_struttura div#localnav div{
    max-width: 430px;
    max-height: 430px;
    position: absolute;
}

section#main_home div#localnav div img, section#main_struttura div img{
    width: 100%;
    height: 100%;
}

section#main_home div#localnav div#addestramento, section#main_struttura div#localnav div#navigazione{
    top: 0%;
    left: 10.9%;
    right: 60%;
}

section#main_home div#localnav div#struttura, section#main_struttura div#localnav div#scafo{
    top: 0%;
    left: 44%;
    right: 26.8%;
}

section#main_home div#localnav div#storia, section#main_struttura div#localnav div#imbarcazioni{
    top: 450px;
    right: 60%;
    left: 10.9%;
}

section#main_home div#localnav div#viaggi, section#main_struttura div#localnav div#equipaggio{
    top: 450px;
    left: 44%;
    right: 26.8%;
}

section#main_struttura div#localnav div#timoni{
    top: 900px;
    left: 10.9%;
    right: 60%;
}

section#main_struttura div#localnav div#comandanti{
    top: 900px;
    left: 44%;
    right: 26.8%;
}

section#main_struttura div#localnav div#tecnologia{
    top: 1350px;
    left: 10.9%;
    right: 60%;
}

section#main_struttura div#localnav div#cucina{
    top: 1350px;
    left: 44%;
    right: 26.8%;
}

div#localnav span{
    width: 100%;
    height: 20%;
    left: 0%;
    right: 0%;
    top: 80%;
    bottom: 0%;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
}

section#main_home div span p, section#main_struttura div span p{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    font-size: 150%;
    text-decoration: underline;
    top: 35%;
    right: 0%;
}

a.Consulta{
    color:#1E1E1E;
    font-size: 18px;
    text-decoration: underline;
}

a.HomeStruttura{
    color:#1E1E1E;
    font-size: 14px;
}

section#hero span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1E1E1E;
    height: 2px;
    width: 429px;
    top: 650px;
    left: 150px;
}

.Immagini { 
    padding-left: 10.9%;
    padding-top: 50px;
    padding-bottom: 50px;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
    height: 140px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    background-color: #1E1E1E;
}

header .inner{
    max-width: 1260px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo{
    display: table;
    height: 100%;
    float: left;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 78px;
    margin-top: 5px;
}

header nav{
    float: right;
    height: 100%;
    margin-top: -80px;
    margin-right: 360px;
    font-size: 18px;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav li span.noncorrente a{
    color: #FFFFFF;
}

header li span.corrente a{
    text-decoration: underline;
    color: #FFFFFF;
}

header li span a:hover{
    text-decoration: underline;
}

.sidebar {
    width: 180px;
    position: fixed;
    top: 30%;
    left: 80%;
    overflow-x: hidden;
    padding: 8px 0;
    list-style-type: none;
    background: #F2EEEE;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #1E1E1E;
    display: block;
    list-style-type: none;
  }
  
  .sidebar a:hover {
    color: #FFFFFF;
    background-color: #1E1E1E;
  }

  .sidebar li span.sidecorrente a{
    background-color: #1E1E1E;
    color: #FFFFFF;
  }

  .sidebar nav li span.sidenoncorrente a{
    color: #F2EEEE;
  }

  .back{
    margin-left: 10.9%;
    margin-top: 2%;
  }

  .back a{
    color: #1E1E1E;
    font-size: 16px;
  }

  .back a b{
    text-decoration: underline;
  }

  h2{
    margin-bottom: 20px;
  }

.Testo a{
    text-decoration: underline;
    color: #1E1E1E;
}


nav p{
    position: absolute;
    color: #000000;
    left:70px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
  }

#cs-footer-269 {
    padding-top: 40px;
    padding-bottom: 30px;
    margin: 0;
    background-color: #1E1E1E;
      
}
#cs-footer-269 .cs-container {
    width: auto;
    margin: auto;
    margin-left: 5%;
}
#cs-footer-269 .cs-credits {
    padding: 0;
    width: 600px;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}
 
#cs-footer-269 .cs-text {
    font-size: clamp(16px, 2.5vw, 16px);
    line-height: 24px;
    margin: 0;
    margin-bottom: 32px;
    max-width: 525px;
    color: #FFFFFF;

}
#cs-footer-269 .cs-nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
  
#cs-footer-269 .cs-header {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 14px;
    color:#FFFFFF;
    position: relative;
    display: block;
}

#cs-footer-269 .cs-contact {
    margin-top: 20px;
    padding: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #FFFFFF;
    list-style-type: none;
}

#cs-footer-269 .cs-nav-link {
    font-size: 16px;
    text-decoration: none;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

#cs-footer-269 .cs-nav-link:hover {
    text-decoration: underline;
}

#cs-footer-269 .cs-contact-link {
    font-size: 16px;
    text-decoration: none;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}
#cs-footer-269 .cs-contact-link:hover {
    text-decoration: underline;
}

#cs-footer-269 .cs-address {
     margin-bottom: 20px;
}

.Testo ul li{
    margin-left: 2%;
}

@media (max-width: 930px){
    header div.nav_principale{
        display: none;
    }

    .Immagini img{
        width: 100%;
    }

    div#localnav a span p{
        font-size: 110%;
    }
    
    .Testo, .Testo_home{
        font-size: 15px;
    }

    .Testo_comandanti{
        font-size: 10px;
    }

    h1{
        font-size: 18px;
    }

    h2{
        font-size: 18px;
    }

    .Testo_home h1{
        font-size: 25px;
    }

    .Testo_home h2{
        font-size: 20px;
    }

    .Testo, .Testo_home, .Testo_comandanti, .back{
        margin-left: 2%;
        width: 400px;
    }

    .Immagini{
        padding-left: 2%;
        padding-right: 2%;
    }

    .back b{
        font-size: 15px;
    }

    .Testo ul li{
        margin-left: 5%;
    }

    #cs-footer-269 .cs-container {
        width: auto;
        margin: auto;
    }
    #cs-footer-269 .cs-credits {
        margin-left: 5%;
        padding: 0;
        width: 100px;
    }
     
    #cs-footer-269 .cs-text {
        font-size: 12px;
        line-height: 24px;
        margin: 0;
        width: 150px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    #cs-footer-269 .cs-nav {
        margin-left: 5%;
        padding: 0;
        margin: 0;
        list-style-type: none;
        margin-bottom: 20px;
    }
      
    #cs-footer-269 .cs-header {
        margin-left: 5%;
        font-size: 12px;
        color:#FFFFFF;
    }
    
    #cs-footer-269 .cs-contact {
        margin-left: 5%;
        margin: 0;
        padding: 0;
        width: auto;
        align-self: stretch;
        color: #FFFFFF;
        list-style-type: none;
    }
    
    #cs-footer-269 .cs-nav-link {
        margin-left: 5%;
        font-size: 12px;
        text-decoration: none;
        line-height: 30px;
        text-align: left;
        color: #FFFFFF;
        margin-top: 0;
    }
    
    #cs-footer-269 .cs-nav-link:hover {
        text-decoration: underline;
    }
    
    #cs-footer-269 .cs-contact-link {
        margin-left: 5%;
        font-size: 12px;
        text-decoration: none;
        line-height: 24px;
        text-align: left;
        color: #FFFFFF;
    }
    #cs-footer-269 .cs-contact-link:hover {
        text-decoration: underline;
    }
    
    #cs-footer-269 .cs-address {
        margin-bottom: 20px;
    }

    section#main_home div#localnav, section#main_struttura div#localnav{
        margin-top: 5%;
    }

    section#hero{
        width: 100%;
        height: 350px;
        position: relative;
    }

    section#main_home{
        width: 100%;
        height: 700px;
        position: relative;
    }

    section#main_struttura{
        width: 100%;
        height: 1700px;
        position: relative;
    }

    .sidebar {
        width: 100px;
    }

    .sidebar li span a{
        font-size: 10px;
    }

    .columnbig {
        width: 60%;
        padding: 0px;
        display: inline-block;
    }

    header{
        height: 100px;
    }

    img#marchio{
        margin-top: 20px;
    }

    #menuToggle
    {
        display: block;
        position: absolute;
        top: 20px;
        right: -120px;
        height:40px;
        width:170px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a
    {
        text-decoration: none;
        color: #FFFFFF;
        transition: color 0.3s ease;
    }

    #menuToggle a:hover
    {
        text-decoration: underline;
    }

    #menuToggle input
    {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    #menuToggle span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #FFFFFF;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #FFFFFF;
    }

    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu
    {
        position: absolute;
        width: 200px;
        margin: -100px 0 0 -250px;
        padding: 50px;
        padding-top: 125px;
        background: #1E1E1E;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
        padding: 10px 0;
        font-size: 22px;
    }

    #menuToggle input:checked ~ ul
    {
        transform: none;
    }
}

@media (max-width: 600px){
    div#localnav a span p{
        font-size: 100%;
    }

    section#hero{
        width: 100%;
        height: 250px;
        position: relative;
        margin-bottom: 2px;
    }

    section#main_home{
        width: 100%;
        height: 450px;
        position: relative;
    }

    section#main_struttura{
        width: 100%;
        height: 1100px;
        position: relative;
    }

    section#main_home div#localnav div#addestramento, section#main_struttura div#localnav div#navigazione{
        top: 0%;
        left: 2%;
        right: 52%;
    }
    
    section#main_home div#localnav div#struttura, section#main_struttura div#localnav div#scafo{
        top: 0%;
        left: 52%;
        right: 2%;
    }
    
    section#main_home div#localnav div#storia{
        top: 50%;
        right: 52%;
        left: 2%;
    }

    section#main_home div#localnav div#viaggi{
        top: 50%;
        left: 52%;
        right: 2%;
    }

    section#main_struttura div#localnav div#imbarcazioni{
        top: 20%;
        right: 52%;
        left: 2%;
    }

    section#main_struttura div#localnav div#equipaggio{
        top: 20%;
        left: 52%;
        right: 2%;
    }

    section#main_struttura div#localnav div#timoni{
        top: 40%;
        right: 52%;
        left: 2%;
    }

    section#main_struttura div#localnav div#comandanti{
        top: 40%;
        left: 52%;
        right: 2%;
    }

    section#main_struttura div#localnav div#tecnologia{
        top: 60%;
        right: 52%;
        left: 2%;
    }

    section#main_struttura div#localnav div#cucina{
        top: 60%;
        left: 52%;
        right: 2%;
    }

    .Testo, .Testo_home, .Testo_comandanti, .back{
        margin-left: 2%;
        width: 340px;
    }
}
